[Desktop Entry]
Terminal=true
Type=Application
Categories=Terminal;System;
StartupNotify=false
Name=XeroLinux Post Installation Toolkit
Exec=xero-cli
Icon=/usr/share/pixmaps/xerolinux.png
Comment=A tool for easy Post-Install Actions.
